/*
 Theme Name:   Twenty Nineteen Enfant
 Theme URI:    http://referenced.ca
 Description:  Twenty Nineteen Enfant
 Author:       Kim Alarie
 Author URI:   http://referenced.ca
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-nineteen-enfant
*/

.site-branding {
    display:flex;
    flex-direction: column; 
}

.site-branding > .site-title {
    background-color: rgb(46, 46, 46);
    font-size:2em;
    letter-spacing:2px;
    margin-left:2vw;

}

.site-branding .site-description {
    background-color:#e6a926; color:white;
    font-size:1em;
    margin-left:2vw;
}

.etiquette-image p{
background-image: white;
}

body{
    background-color:#f5f5f5;
}

.couleur-liste{
    color:red;
    background-color:#ddd;
}